@model WidgetWrapperViewModel
@{
    var viewspath = "~/Views/" + _Globals.Instance.CurrentSiteSettingId + "/Widgets/WidgetMap.cshtml";
    var mappath = this.Server.MapPath(viewspath);
    if (System.IO.File.Exists(mappath))
    {
        @Html.Partial(viewspath, Model);
        return;
    }
}
@{
    var widget = Model.Widget as BAG.Common.Data.Entities.WidgetMap;
}


@if (Model.IsDesignMode)
{

    <text>
        <div class="cm-admin-widget">
            <h5>Location</h5>
            <hr />
            <div class="form-group">
                <label for="location" class="control-label col-sm-2">Ort:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="location" name="location" value="@widget.Location" placeholder="Brockhaus AG, Pierbusch, Lünen" />
                </div>
            </div>
            <h5>Content</h5>
            <hr />
            <div class="form-group">
                <label for="content" class="control-label col-sm-2">Content:</label>
                <div class="col-sm-9">
                    <textarea class="form-control summernote" id="content" name="content">@widget.Content</textarea>
                </div>
            </div>
        </div>
    </text>
}
else
{
    var src = "https://www.google.com/maps/embed/v1/place?q=" + @Url.Encode(@widget.Location) + "&key=AIzaSyCvKMSvZxGvEq7kmQheAJW_G7NsNIJ-Bt4";
    
    <div class="cm-widget widget-maps">
        <iframe width="100%" height="450" frameborder="0" class="googlemaps" style="border:0; pointer-events:none;"
                src="@src" allowfullscreen></iframe>
    </div>
}