@using System.Web.UI.WebControls
@using BAG.Common.Data.Entities
@using System.Text.RegularExpressions
@model FooterViewModel
@{
    var widget = Model.Widget as BAG.Common.Data.Entities.WidgetPageFooter;
}

@if (Model.IsDesignMode)
{

    <text>
        <div class="cm-admin-widget">
            <h5>Content</h5>
            <hr />
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-2">
                    <div class="widget-title">Content:</div>
                </div>
            </div>
            <div class="form-group">
                <label for="xingurl" class="control-label col-sm-2">Xing:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="xingurl" name="xingurl" value="@widget.XingUrl" />
                </div>
            </div>
            <div class="form-group">
                <label for="blogurl" class="control-label col-sm-2">Blog:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="blogurl" name="blogurl" value="@widget.BlogUrl" />
                </div>
            </div>
            <div class="form-group">
                <label for="linkedinurl" class="control-label col-sm-2">LinkedIn:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="linkedinurl" name="linkedinurl" value="@widget.LinkedInUrl" />
                </div>
            </div>
            <div class="form-group">
                <label for="githuburl" class="control-label col-sm-2">GitHub:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="githuburl" name="githuburl" value="@widget.GitHubUrl" />
                </div>
            </div>
            <div class="form-group">
                <label for="meinpraktikumurl" class="control-label col-sm-2">Meinpraktikum:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="meinpraktikumurl" name="meinpraktikumurl" value="@widget.MeinpraktikumUrl" />
                </div>
            </div>

        </div>
    </text>

}
else
{
    <footer class="cm-widget widget-footer">
        <div class="bmenu clearfix">
            <div class="container">
                <div class="rocket"></div>
                <div class="flagge"></div>
                <div class="grafiken"></div>
                <div class="social" itemscope itemtype="http://schema.org/Organization">
                    <link itemprop="url" href="http://monkee.brock.haus/">
                    <a itemprop="sameAs" href="@Html.Raw(widget.XingUrl)" target="_blank" rel="nofollow"><i class="icon-follow-xing"></i></a>
                    <a itemprop="sameAs" href="@Html.Raw(widget.BlogUrl)" target="_blank" rel="nofollow"><i class="icon-follow-blogger"></i></a>
                    <a itemprop="sameAs" href="@Html.Raw(widget.LinkedInUrl)" target="_blank" rel="nofollow"><i class="icon-follow-linkedin"></i></a>
                    <a itemprop="sameAs" href="@Html.Raw(widget.GitHubUrl)" target="_blank" rel="nofollow"><i class="icon-follow-github"></i></a>
                    <a itemprop="sameAs" href="@Html.Raw(widget.MeinpraktikumUrl)" target="_blank" rel="nofollow"><i class="icon-mein-praktikum"></i></a>
                </div>

                <nav class="menu">
                    <ul>
                        @{
                            string parent = string.Empty;
                            var site = Model.Sites.Where(s => s.Url == string.Empty || s.Url == "/").FirstOrDefault();
                        }
                        @foreach (WidgetManager manwidget in site.Widgets)
                        {
                            var navWidget = Model.IsPreview ? manwidget.PreRelease : manwidget.Release;
                            if (navWidget == null || navWidget is WidgetPageFooter || navWidget is WidgetPageHeader || navWidget is WidgetVCard)
                            {
                                continue;
                            }

                            if (site.WidgetNavigations.Contains(navWidget.Id))
                            {
                                <li><a class="inf-con-nav-a" href="@Regex.Replace("/" + site.Url + "/" + navWidget.Url + "/", @"[/]+", "/")"><strong>@navWidget.Name.ToUpper()</strong></a></li>
                            }
                        }
                    </ul>
                </nav>
            </div>
        </div>
        <div class="foot-bottom">
            <div class="container">
                <div class="fmenu">
                    <ul>
                        @foreach (Site s in Model.Sites)
                        {
                            if (!s.Visible && Model.SiteSetting.SiteNavigations.Contains(s.Id))
                            {
                                continue;
                            }
                            <li><a href="@Regex.Replace("/"+@s.Url+"/",@"[/]+","/")">@s.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="copyright">&copy; @DateTime.Now.Year BROCKHAUS AG</div>
                <div class="author">Made with <span class="icon-heart"></span> in Lünen</div>
            </div>
        </div>
    </footer>
                            }